build.xml filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_CPL filter=lfs diff=lfs merge=lfs -text
ANDROID-CHANGES.txt filter=lfs diff=lfs merge=lfs -text
build.gradle filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
pregenerated filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
test.sh filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
TRACKING.txt filter=lfs diff=lfs merge=lfs -text
ant filter=lfs diff=lfs merge=lfs -text
core filter=lfs diff=lfs merge=lfs -text
dependencies.xml filter=lfs diff=lfs merge=lfs -text
module.dirs.properties filter=lfs diff=lfs merge=lfs -text
release.properties filter=lfs diff=lfs merge=lfs -text
work.dirs.properties filter=lfs diff=lfs merge=lfs -text
BUILD.txt filter=lfs diff=lfs merge=lfs -text
